@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.project {
  .content--inner {
    margin-bottom: 5rem;
  }

  .header {
    text-align: center;
  }

  .caption {
    text-align: center;
  }

  .first-screen {
    margin-top: -7vh;
    width: 100vw;
    position: sticky;
    margin-left: -10vw;
    left: 50%;
    padding: 7vh 10vw;
    height: 90vh;
  }

  .panel {
    width: 100vw;
    margin-left: -10vw;
    left: 50%;
    background: linear-gradient(0deg, #0e1111, #172229), linear-gradient(180deg, #0e1111, #0e1111);
    padding: 15vh 10vw;
    height: 700px;
    position: sticky;
  }

  .sub-panel {
    display: inline-block;
    width: 40vw;
    vertical-align: top;
  }

  .sub-panel.a {
    padding: 0 10vw 0 5vw;
  }

  .sub-panel.b {
    padding: 0 5vw 0 10vw;
  }

  .project-image {
    width: 25vw;
  }

  .button {
    margin-left: 0;
  }

  .project-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.7em;
    margin-bottom: 2rem;
  }

  .background-text {
    text-align: center;
    font-size: 15.7vw;
    text-transform: uppercase;
    color: #0e1111;
    text-shadow: 0 3vw 3vw #000000;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
  }

  .scroll-downs {
    position: absolute;
    top: 75vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
  }

  .mouse {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }

  @media only screen and (max-width: 1000px) {
    .sub-panel {
      width: 100%;
      text-align: center;
    }

    .sub-panel.a {
      padding: 0;
    }

    .sub-panel.b {
      padding: 0;
    }

    .button {
      margin-left: auto;
      margin-right: auto;
    }
    .project-image {
      width: 100%;
    }
  }
}
