.project {
  .content--inner {
    margin-bottom: 5rem;
  }

  .header {
    text-align: center;
  }

  .caption {
    text-align: center;
  }

  .row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
    background: linear-gradient(0deg,#0e1111,#172229), linear-gradient(180deg,#0e1111,#0e1111);
    padding: 2rem 10vw;
    height: 60vh;
  }
}
