.project {
  .content--inner {
    margin-bottom: 5rem;
  }

  .header {
    text-align: center;
  }

  .caption {
    text-align: center;
  }

  .first-screen {
    margin-top: -7vh;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding: 7vh 10vw;
    height: 90vh;
  }

  .row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background: linear-gradient(0deg,#0e1111,#172229), linear-gradient(180deg,#0e1111,#0e1111);
    padding: 15vh 10vw;
    height: 100vh;
  }

  .star {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}
