.home {
  .section {
    height: 90vh;
    padding-left: 10vw;
    //border: 2px solid white;
  }

  .profile-image {
    width: 33vw;
    opacity: .8;
  }

  .name {
    font-size: 5em;
    font-weight: bold;
    margin: 10px 30px;
    overflow: hidden;
  }

  .title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px 30px;
    overflow: hidden;
  }

  .description {
    font-size: 1.2em;
    margin: 30px;
    width: 40vw;
    line-height: 1.7em;
    color: #fafafa;
  }

  @media only screen and (max-width: 1000px) {
    //overflow: hidden;

    .flex {
      display: flex;
      flex-direction: column;
    }

    .a {
      order: 2;
    }

    .b {
      text-align: center;
      order: 1;
    }

    .profile-image {
      width: 50vw;
    }

    .section {
      padding-left: 0;
    }

    .name {
      font-size: 3em;
      text-align: center;
    }

    .title {
      font-size: 2em;
      text-align: center;
    }

    .description {
      width: 80%;
      padding-left: 5vw;
    }

    .section {
      height: auto;
    }

      .button {
      margin-left: auto;
      margin-right: auto;
      //padding-bottom: 5rem;
      //padding-top: 2rem;
    }
  }
}
