.section {
  height: 85vh;
  padding-left: 10vw;
  //border: 2px solid white;
}

.profile-image {
  width: 33vw;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.vertical-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.name {
  font-size: 5em;
  font-weight: bold;
  margin: 10px 30px;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 30px;
}

.description {
  font-size: 1.2em;
  margin: 30px;
  width: 40vw;
  line-height: 1.7em;
  color: #fafafa;
}

.button {
  margin: 35px;
  height: 60px;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}

.inner-button-1 {
  height: 62px;
  width: 200px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-2 {
  height: 50px;
  width: 212px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-3 {
  height: 50px;
  width: 212px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-4 {
  height: 62px;
  width: 200px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-content {
  height: 30px;
  width: 180px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  position: absolute;
  transition: 0.25s;
}

.hover-button-text {
  color: #222;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.25s;
}

.button:hover .inner-button-1 {
  width: 0px;
}

.button:hover .inner-button-2 {
  width: 200px;
}

.button:hover .inner-button-3 {
  height: 0px;
}

.button:hover .inner-button-4 {
  height: 50px;
  /*
  animation: 3s glow forwards infinite;
  */
  box-shadow: 0px 0px 30px #ffffff;
}

.button:hover .inner-button-content {
  background: #fff;
  height: 40px;
  width: 190px;
}

.button:hover .button-text {
  transform: translateY(-15px);
  opacity: 0;
}

.button:hover .hover-button-text {
  transform: translateY(0px);
  opacity: 1;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 30px #ffffff;
  }

  50% {
    box-shadow: 0px 0px 35px #ffffff;
  }

  100% {
    box-shadow: 0px 0px 30px #ffffff;
  }
}
