.contact {
  .wrap {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 75vh;
  }

  .left, .right {
    width: 40vw;
    height: 600px;
  }

  a, a:hover {
    text-decoration: none;
    color: #fafafa;
    transition: 0.3s;
  }

  a:hover {
    color: #c5b358;
  }

  .outer-section {
    margin: 40px 0;
    font-size: 1.2em;
    width: 100%;
  }

  .icon-section {
    display: inline-block;
    line-height: 3em;
    margin-left: auto;
    margin-right: 0;
  }

  .content-section {
    display: inline-block;
    line-height: 3em;
    padding-left: 5%;
    font-weight: bold;
    width: 450px;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }

  .mailbox {
    width: 33vw;
    opacity: .7;
  }

  .contact-form {
    text-align: center;
  }

  .contact-form-input {
    width: 80%;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    outline: none;
    background-color: #172229;
    color: #fafafa;
    border: none;
    box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    transition: 0.3s;
  }
  //
  //.contact-form-input:focus {
  //  box-shadow: 0 0 10px #fafafa;
  //  -webkit-box-shadow: 0 0 10px #fafafa;
  //}

  .contact-form-input.message {
    height: 25vh;
  }

  .form-button {
    margin: 1rem 0;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    outline: none;
    background-color: #172229;
    color: #fafafa;
    border: none;
    transition: .3s;
    font-weight: bold;
    box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
  }

  .form-button:hover {
    background-color: #c5b358;
    color: #0e1111;
    box-shadow: 0 0 10px #fafafa;
    -webkit-box-shadow: 0 0 10px #fafafa;
  }

  .form-message {
    font-size: 1.2em;
    font-weight: bold;
    display: none;
  }

  .form-message-error {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    display: none;
  }

  @media only screen and (max-width: 1280px) {
    .content-section {
      display: inline-block;
      text-align: center;
      line-height: 2em;
      padding-left: 0;
      font-weight: bold;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 1000px) {
    .left {
      width: 80vw;
      height: auto;
      display: block;
    }

    .right {
      width: 80vw;
      margin-top: 2rem;
      display: block;
      height: auto;
    }

    .contact-form-input {
      width: 100%;
    }
  }
}
