.navbar {
  height: 10vh;
  padding: 0;

  .nav-container {
    width: 100%;
    height: 10vh;
    position: fixed !important;
    top: 0;
    background-color: rgba(14, 17, 17, .8);
    z-index: 100;
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  .logo {
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 7vw;
    font-family: Brush Script MT, Brush Script Std, cursive;
  }

  .logo-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #c5b358;
  }

  .menu {
    display: inline-block;
    position: absolute;
    right: 5vw;
  }

  .menu-icon {
    display: none;
  }

  .menu-ul {
    margin: 0 auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 40vw;
    text-align: center;
    font-weight: bold;
  }

  .menu-li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
  }

  .nav-links {
    color: #fafafa;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
  }

  .nav-links:hover {
    color: #fafafa;
    text-decoration: none;
  }

  .nav-links:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fafafa;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .nav-links:hover:after {
    width: 100%;
    left: 0;
  }

  .active {
    color: #c5b358;
    pointer-events: none;
    transition: 0.2s;
  }

  .active-menu:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #c5b358;
    transition: 0.2s;
    width: 100%;
    left: 0;
  }

  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .menu {
      position: absolute;
      right: 0;
      top: 10vh;
      border-bottom: 2px solid #c5b358;
      opacity: 0;
      transition: .45s;
    }

    .menu.opened {
      opacity: 1;
    }

    .menu-ul {
      width: 100vw;
      margin-right: 0;
      background-color: rgba(14, 17, 17, .8);
    }

    .menu-li {
      display: block;
      position: relative;
      //height: 100px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      transition: .5s;
    }

    .menu-li:hover {
      background-color: rgba(51, 51, 51, .8);
    }

    .menu-icon {
      display: block;
      height: 29px;
      cursor: pointer;
      width: 40px;
      position: relative;
      overflow: hidden;
      margin-left: auto;
      margin-right: 5vw;
    }

    .menu-icon:before, .menu-icon:after {
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0s;
      content: "";
      display: block;
      width: 4px;
      height: 29px;
      border-radius: 10px;
      transform-origin: center center;
      background-color: #c5b358;
      top: -10px;
      position: relative;
    }

    .menu-icon:before {
      position: absolute;
      top: 0;
      left: 18px;
      transform: rotate(-90deg);
    }

    .menu-icon:after {
      position: absolute;
      top: 0;
      right: 18px;
      transform: rotate(90deg);
    }

    .menu-icon .bar {
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0.2s;
      width: 100%;
      height: 5px;
      background-color: #c5b358;
      border-radius: 20px;
    }

    .menu-icon .bar-1 {
      position: absolute;
      top: 0;
      left: 0;
    }

    .menu-icon .bar-2 {
      position: absolute;
      top: 12px;
      left: 0;
    }

    .menu-icon .bar-3 {
      position: absolute;
      top: 24px;
      left: 0;
    }

    .menu-icon.opened .bar {
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0s;
      opacity: 0;
    }

    .menu-icon.opened .bar-1 {
      top: 10px;
    }

    .menu-icon.opened .bar-3 {
      top: 10px;
    }

    .menu-icon.opened:before, .menu-icon.opened:after {
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0.2s;
      top: 0px;
    }

    .menu-icon.opened:before {
      transform: rotate(-45deg);
    }

    .menu-icon.opened:after {
      transform: rotate(45deg);
    }
  }
}
