.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
}

.App-link {
  color: #c5b358;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  height: 85vh;
}

.content {
  width: 80vw;
  margin: 0 auto;
  padding: 2vh 0;
  font-size: 1.1em;
}

.color {
  color: #c5b358;
}

.divider {
  border: 1px solid #fafafa;
  width: 200px;
  margin: 20px 0 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.page {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
}

.header {
  /*text-transform: uppercase;*/
  font-family: Marker Felt, fantasy;
  font-size: 2.2em;
  font-weight: bold;
}

.line-wrap {
  overflow: hidden;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 98vw;
  background-color: #0e1111;
  opacity: 0;
  transition: .3s;
  text-align: center;
}

.loaderIcon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms linear;
}

@media only screen and (max-width: 1000px) {
  .loader {
    width: 92vw;
  }
}
