.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
}

.App-link {
  color: #c5b358;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  width: 80vw;
  margin: 0 auto;
  padding: 7vh 0;
  font-size: 1.1em;
}

.color {
  color: #c5b358;
}

.divider {
  border: 1px solid #fafafa;
  width: 200px;
  margin: 20px 0 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.page {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
}

.header {
  /*text-transform: uppercase;*/
  font-family: Marker Felt, fantasy;
  font-size: 2.2em;
  font-weight: bold;
}

.line-wrap {
  overflow: hidden;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 98vw;
  background-color: #0e1111;
  opacity: 0;
  transition: .3s;
  text-align: center;
}

.loaderIcon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms linear;
}

@media only screen and (max-width: 1000px) {
  .loader {
    width: 90vw;
  }
}

.button {
  margin: 35px;
  height: 60px;
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  text-transform: uppercase;
}

.inner-button-1 {
  height: 62px;
  width: 200px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-2 {
  height: 50px;
  width: 212px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-3 {
  height: 50px;
  width: 212px;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-4 {
  height: 62px;
  width: 200px;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  transition: 0.25s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-button-content {
  height: 30px;
  width: 180px;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-text {
  position: absolute;
  transition: 0.25s;
}

.hover-button-text {
  color: #0e1111;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.25s;
}

.button:hover .inner-button-1 {
  width: 0;
}

.button:hover .inner-button-2 {
  width: 200px;
}

.button:hover .inner-button-3 {
  height: 0;
}

.button:hover .inner-button-4 {
  height: 50px;
  /*
  animation: 3s glow forwards infinite;
  */
  box-shadow: 0 0 30px #fafafa;
}

.button:hover .inner-button-content {
  background: #fafafa;
  height: 40px;
  width: 190px;
}

.button:hover .button-text {
  transform: translateY(-15px);
  opacity: 0;
}

.button:hover .hover-button-text {
  transform: translateY(0);
  opacity: 1;
}

.tech-stack-wrapper {
  position: relative;
  display: inline-block;
  padding: .5rem;
  margin: .5rem;
  border-radius: 10px;
  background-color: rgba(250,250,250,0.05);
}

.middle-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #0e1111;
  color: #fafafa;
  opacity: 0;
  transition: 0.3s;
}

.middle-wrapper:hover {
  opacity: 0.7;
}

.middle-wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.8em;
  opacity: 1;
  font-weight: bold;
}

.middle-wrapper.translate > span {
  transform: translate(-50%, -50%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
}

.tech-stack-image {
  height: 3.5rem;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 30px #fafafa;
  }

  50% {
    box-shadow: 0 0 35px #fafafa;
  }

  100% {
    box-shadow: 0 0 30px #fafafa;
  }
}
