.landing-animation {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
}

.index-header {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 5em;
  text-align: center;
  margin-top: 43vh;
  opacity: 0;
  transition: 1.5s;
  color: transparent;
  backface-visibility: hidden;
}

.smoky-span {
  display: inline-block;
  text-shadow: 0 0 0 #c5b358;
  animation: smoky 2s 2.5s both;
}

.smoky-span:nth-child(even) {
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px #c5b358;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px #c5b358;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px #c5b358;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px #c5b358;
    opacity: 0;
  }
}

@for $item from 1 through 9 {
  .smoky-span:nth-of-type(#{$item}) {
    animation-delay: #{(2.5 + ($item/10))}s;
  }
}

